/*media queries*/
@media only screen and (max-width: 600px){
    .header {
        background-color: rgb(230, 173, 229);
        padding: 0.5em 0.5em 0.5em;
        border-radius: 25px;
    }    

    h1 {
        font-family: "Helvetica Neue", "Helvetica"; 
        font-weight: 700;
        text-align: center;
    }

    .introduction {
        background-color: rgb(253, 174, 187);
        margin: 6px 2px 6px 2px;
        padding: 1em 1.5em 1em;
        border-radius: 20px;
        height: 35%;
    }

    h2 {
        font-family: "Helvetica Neue", "Helvetica"; 
        font-weight: 500;  
    }

    p {
        font-family:Arial, Helvetica, sans-serif;
        margin-left: 5%;
    }

    .flex-container {
        display: flex;
        background-color: rgb(105, 30, 255);
        flex-direction: column;
        border-radius: 20px;
        min-height: auto;
        min-width: auto;
        text-align: center;
    }
      
    .flex-container > div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 18px;
        font-size: 25px;
        font-family:Arial, Helvetica, sans-serif;
    }

    .contact-info {
        background-color: lightcoral;
        padding: 5px;
        margin-top: 10px;
        border-radius: 25px;
        overflow: auto;
    }

    .skills {
        font-family: "Helvetica Neue", "Helvetica"; 
        font-weight: 500;
        text-align: left;
        margin-left: 22px;
    }

    h3 {
        margin-left: 10px;
        font-family: "Helvetica Neue", "Helvetica"; 
        font-weight: 300;  
    }

    li {
        font-family:Arial, Helvetica, sans-serif;
    }
}

.header {
    background-color: rgb(230, 173, 229);
    padding: 0.5em 0.5em 0.5em;
    border-radius: 25px;
}

h1 {
    font-family: "Helvetica Neue", "Helvetica"; 
    font-weight: 700;
    text-align: center;
}

.introduction {
    background-color: rgb(253, 174, 187);
    margin: 6px 2px 6px 2px;
    padding: 1em 1.5em 1em;
    border-radius: 20px;
    height: 35%;
}

h2 {
    font-family: "Helvetica Neue", "Helvetica"; 
    font-weight: 500;  
}

p {
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 5%;
}

.flex-container {
    display: flex;
    background-color: rgb(105, 30, 255);
    border-radius: 20px;
    min-height: auto;
    min-width: auto;
    max-width: 100%;
    max-height: 100%;
}
  
.flex-container > div {
    background-color: #f1f1f1;
    margin: 20px;
    padding: 18px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}

.contact-info {
    background-color: lightcoral;
    padding: 5px;
    margin-top: 10px;
    border-radius: 25px;
    overflow: auto;
}

.skills {
    font-family: "Helvetica Neue", "Helvetica"; 
    font-weight: 500;
    text-align: left;
    margin-left: 22px;
}

h3 {
    margin-left: 10px;
    font-family: "Helvetica Neue", "Helvetica"; 
    font-weight: 300;  
}

li {
    font-family:Arial, Helvetica, sans-serif;
}